/* @font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

*/

 html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;

  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  box-sizing: border-box;

  width: 1200px;

  margin: 0 auto;
  padding: 0 20px;
}

.button {
  outline: none;
  text-decoration: none;

  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}


.page-header {
  background-color: #eeeeee;
}

.navigation {
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.navigation__logo-link{
  padding-top: 50px;
  padding-bottom: 57px;
}


.navigation__logo-link:hover:not(.link-active) {
  opacity: 0.8;
}

.navigation__logo-link:active:not(.link-active) {
  opacity: 0.3;
}


.navigation__list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

.site-list{
  min-width: 41.5%;
  justify-content: flex-start;
}


.site-list__item,
.user-list__item {
  width: fit-content;
  height: 100%;
}


.site-list__link,
.user-list__link {
  display:flex;
  align-items: center;

  height: 100%;

  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
}

.site-list__item:not(:last-child) {
  padding-right: 46px;
}

.site-list__link:hover,
.user-list__link:hover {
  color: #fb565a;
}

 .site-list__link:active,
 .user-list__link:active {
   color: rgba(0, 0, 0, 0.3);
 }

 .link-active:not(.navigation__logo-link) {
   color: #000000;

   border-bottom: 2px solid #fb565a;
 }


 .user-list__link--basket::before {
   content: "";

   display: inline-block;

   width: 15px;
   height: 15px;

   margin-right: 26px;

   background-image: url("../img/navigation_basket.svg");
   background-repeat: no-repeat;
   background-position: 0 0;

 }

.page-main__title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

 .slider {
   background-color: #eeeeee;
 }

 .slider__list {
   margin: 0;
   padding: 0;

   list-style: none;
 }

 .slider__item {
   display: none;
 }


 .slider__caption {
  font-size: 55px;
   line-height: 55px;
   font-weight: 500;
   color: #000000;
 }

 .slider__description {
   line-height: 24px;
 }

 .slider__item--principe-cash {
   background-image: url("../img/slider_slide1.png");
   background-repeat: no-repeat;
   background-position: 0 0;
 }

 .slider__item--principe-math {
   background-image: url("../img/slider_slide2.png");
   background-repeat: no-repeat;
   background-position: 0 0;
 }

 .slider__item--principe-night {
   background-image: url("../img/slider_slide3.png");
   background-repeat: no-repeat;
   background-position: 0 0;
 }

 .slide-1:checked ~ .slider__list .slider__item--principe-cash,
 .slide-2:checked ~ .slider__list .slider__item--principe-math,
 .slide-3:checked ~ .slider__list .slider__item--principe-night{
   display: block;
 }

 .services__list {
   margin: 0;
   padding: 0;

   list-style: none;
 }

.services__caption {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services__item--web::before {
  content: " ";
  display: block;

  width: 300px;
  height: 146px;

  background-color: #fb565a;
  background-image: url("../img/services_web.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


 .services__item--app::before {
   content: " ";
   display: block;

   width: 300px;
   height: 146px;

   background-color: #00ca74;
   background-image: url("../img/services_app.png");
   background-repeat: no-repeat;
   background-position: 0 0;
 }

 .services__item--presentation::before {
   content: " ";
   display: block;

   width: 300px;
   height: 146px;

   background-color: #efc84a;
   background-image: url("../img/services_presentation.png");
   background-repeat: no-repeat;
   background-position: 0 0;
 }

 .services__item--app .services__button {
   background-color: #00ca74;
 }

.services__item--app .services__button:hover {
  background-color: #00bc6c;
}

.services__item--app .services__button:active {
  background-color: #00aa62;
}

 .services__item--presentation .services__button {
   background-color: #efc84a;
 }

.services__item--presentation .services__button:hover {
  background-color: #eab534;
}

.services__item--presentation .services__button:active {
  background-color: #e5a722;
}

 .about-us::before {
   content: "";
   display: block;

   width: 360px;
   height: 225px;

   background-image: url("../img/about-us_logo.png");
   background-repeat: no-repeat;
   background-position: 0 0;
 }

 .about-us__slogan {
   font-size: 45px;
   line-height: 45px;
   font-weight: 500;
   color: #000000;
 }

 .our-job__list {
   padding: 0;
   margin: 0;

   list-style: none;
 }

.our-job__caption,
.in-number__caption {
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.table__stroke-description {
  line-height: 18px;
}

.table__stroke-percent {
  font-size: 45px;
  line-height: 11px;
  font-weight: 700;
  color: #000000;
}

.partners__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners__link {
  opacity: 0.2;
}

.partners__link:hover {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}

.map {
  background-color: #e9e5dc;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts {
  margin: 55px;
  background-color: #ffffff;
}

.contacts__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts__address,
.contacts__tel {
  color:#666666;
}

.social__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__item {
  width: fit-content;
  margin: 10px;
}

.social__link{
  display: block;
 width: 70px;
  height: 70px;

  background-color: #e1e1e1;
 border-radius: 50%;
  position: relative;

}

.social__link--vk::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 28%;

  width: 26px;
  height: 15px;

  background-image: url("../img/footer_social_vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--fb::after {
  content: "";
  display: block;
  position: absolute;
  top: 35%;
  left: 40%;

  width: 12px;
  height: 22px;


  background-image: url("../img/footer_social_fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--inst::after {
  content: "";
  display: block;
  position: absolute;
  top: 36%;
  left: 33%;

  width: 21px;
  height: 21px;


  background-image: url("../img/footer_social_inst.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.social__link:hover {
  background-color: #e74246;
}

.social__link:active {

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social__link:active::after {
  opacity: 0.3;
}

.social__slogan {
   font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social__description {
  line-height: 22px;
  color: #444444;
}


.popup__caption {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}
.form-feedback {
  position: relative;
}

.form-feedback__label {
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.form-feedback__input {
  line-height: 18px;
  color: #a1a1a1;
  outline: none;
  border: 2px solid #d7dcde;
  border-radius: 5px;
}

.form-feedback__input:hover {
  border-color: #b4b9bb;
}

.form-feedback__input:focus {
  border-color: #000000;
}

.form-feedback__input--error {
  color:#e74246;
  border-color: #e74246;
}

.form-feedback__button-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;/* добавить позиции что бы отслеживать клик*/
  display: block;

  width: 30px;
  height: 30px;

  margin: 10px;

  background-color: transparent;
  border: none;
  outline: none;

  opacity: 0.3;
}

.form-feedback__button-close::before {
  content: ""; /* добавить позиции что бы отслеживать клик*/
  position: absolute;
  top: 45%;
  right: 20%;

  display: block;

  width: 20px;
  height: 3px;

  background-color: #fb565a;
  transform: rotate(45deg);

 }

.form-feedback__button-close::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 20%;
  display: block;

  width: 20px;
  height: 3px;

  background-color: #fb565a;
   transform: rotate(-45deg);
 }

.form-feedback__button-close:hover {
  opacity: 1;
}

.form-feedback__button-close:active {
  opacity: 0.1
}


.form__fieldset {
  border: none;
}

.form__fieldset--features .form__label,
.form__fieldset--markup .form__label {
  position: relative;
}

.form__legend,
.markers__caption {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.form__range {
  background-color: #eeeeee;
  height: 50px; /*временно */
}

.price-control__label {
  line-height: 22px;
}

.price-control__input {
  line-height: 22px;

  background-color: #eeeeee;
  border: none;
  outline: none;
}

.form__label {
  line-height: 20px;
}

.form__input-markup,
.form__input-features {
  position: absolute;
  top:0;
  left: 0;

  display: block;
  z-index: -1;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;
  outline: none;
}

.form__input-features + .form__label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 23px;
  height: 23px;

  margin-right: 13px;

border: 2px solid #4d4d4d;
  border-radius: 3px;

  opacity: 0.4;
}



.form__input-markup + .form__label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;

  width: 23px;
  height: 23px;

  margin-right: 13px;

  background-color: transparent;
  border: 4px solid #4d4d4d;
  border-radius: 50%;

  opacity: 0.4;
}

.form__input-markup:checked + .form__label::after {
  content: " ";
  position: absolute;
  top:0;
  left: 0;

  width: 9px;
  height: 9px;

  margin: 6px 7px;

  background-color: #4d4d4d;
  border-radius: 50%;

  opacity: 0.4;
}

.form__input-features:checked + .form__label::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/form_checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.4;
}


.form__input-markup:hover + .form__label::before,
.form__input-features:hover + .form__label::before,
.form__input-markup:hover + .form__label::after,
.form__input-features:hover + .form__label::after {
  opacity: 1;
}


.form__input-markup:disabled + .form__label,
.form__input-features:disabled + .form__label,
.form__input-markup:disabled + .form__label::before,
.form__input-features:disabled + .form__label::before,
.form__input-markup:disabled + .form__label::after,
.form__input-features:disabled + .form__label::after {
  opacity: 0.1;
}


.form__button,
.pagination__next {
  color: #000000;

  background-color: #eeeeee;
}

.form__button:hover,
.pagination__next:hover {
  background-color: #dfdfdf;
}

.form__button:active,
.pagination__next:active {
  color: rgba(0,0,0, 0.3);

  background-color: #bfbfbf;
}

.markers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.markers__button {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  outline: none;
  border: none;
  background-color: transparent;

  opacity: 0.3;

}

.markers__button:hover {
  opacity: 0.6;
}

.markers__button:active,
.markers__button:focus {
  opacity: 1;
}

.markers__result__button-up,
.markers__result__button-down {
 width: 20px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  position: relative;

  background-color: transparent;
  border: none;
  outline: none;
}

.markers__result__button-up::before {
  content: "";

  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 0;

  border: 8px solid transparent;
  border-top: 12px solid rgba(166, 166, 166, 0.2);
}

.markers__result__button-down::before {
  content: "";

  display: block;
  position: absolute;
  bottom: 0;
  right: 0;

  width: 0;
  height: 0;

  border: 8px solid transparent;
  border-bottom: 12px solid rgba(166, 166, 166, 0.2);
}
.markers__result__button-up:hover::before {
  border-top: 12px solid #a6a6a6;
}
.markers__result__button-down:hover::before {
  border-bottom: 12px solid #a6a6a6;
}

.markers__result__button-up:active::before,
.markers__result__button-up:focus::before {
  border-top: 12px solid #231f20;
}

.markers__result__button-down:active::before,
.markers__result__button-down:focus::before {
  border-bottom: 12px solid #231f20;
}



.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  position: relative;

  width: fit-content;

  margin: 50px; /* временно*/

  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.catalog__item::before {
  content: "";
  display: block;

  width: 360px;
  height: 40px;

  background-image: url("../img/catalog_browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.12;
}

.catalog__item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog__item:hover::before {
  opacity: 1;
}

.catalog__preview {
  display: none;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 230px;

  background-color: #eeeeee;
}

.catalog__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog__description {
  line-height: 18px;
  color: #666666;
}

.catalog__item:hover .catalog__preview {
  display: block;
}

.pagination .link-active{
  background-color: transparent;
  border: 3px solid #dbdbdb;
  padding: 17px;
}

.pagination__page {
  padding: 20px;

  line-height: 18px;
  font-weight: 500;
  color: #000000;

  background-color: #eeeeee;
  border-radius: 5px;
}

.pagination__page:hover {
  background-color: #dfdfdf;
}

.pagination__page:active {
  color: rgba(0,0,0, 0.3);

  background-color: #bfbfbf;
}





