@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"),
       url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-medium.woff2") format("woff2"),
       url("../fonts/roboto-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"),
       url("../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;

  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container--catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding-top: 54px;
}

.container--map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 69px 0;
}



.button {
  display: inline-block;
  vertical-align: middle;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 19px;
  padding-bottom: 18px;

  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus{
  background-color: #e74246;
  outline: none;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}



.link-active:not(.navigation__logo-link) {
  color: #000000;

  border-bottom: 2px solid #fb565a;
}



.page-header {
  background-color: #eeeeee;
}



.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.navigation__logo-link {
  z-index: 2;

  width: 160px;

  padding-top: 49px;
}

.navigation__logo-link:hover:not(.link-active),
.navigation__logo-link:focus:not(.link-active){
  outline: none;
  opacity: 0.8;
}

.navigation__logo-link:active:not(.link-active) {
  opacity: 0.3;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 60px;

  list-style: none;
}

.site-list {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-width: 41.5%;
}

.site-list__item,
.user-list__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
}

.site-list__item:not(:last-child) {
  padding-right: 45px;
}

.site-list__item:nth-child(2) {
  padding-right: 49px;
}

.site-list__link,
.user-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 120px;
  padding-top: 15px;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
}

.user-list__link--basket::before {
  content: "";

  display: block;
  width: 15px;
  height: 15px;
  margin-top: -2px;
  margin-right: 26px;

  background-image: url("../img/navigation-basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-list__link:hover,
.user-list__link:hover,
.site-list__link:focus,
.user-list__link:focus{
  color: #fb565a;

  outline: none;
}

.site-list__link:active,
.user-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}



.page-main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 108px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;

  background-color: #eeeeee;
}



.slider {
  position: relative;

  margin-bottom: 80px;

  background-color: #eeeeee;
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__item {
  display: none;
  margin-top: -9px;
  padding: 80px 0;
}

.slider__item--principe-cash {
  background-image: url("../img/slider-slide1.png");
  background-repeat: no-repeat;
  background-position: 99.2% 100%;
}

.slider__item--principe-math {
  background-image: url("../img/slider-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider__item--principe-night {
  background-image: url("../img/slider-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slider__caption {
  max-width: 514px;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  padding-bottom: 26px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  letter-spacing: 0.1px;
  color: #000000;
}

.slider__item--principe-night .slider__caption {
  letter-spacing: 0.6px;
}

.slider__description {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 39px;

  line-height: 24px;
  letter-spacing: 0.03px;
}

.slider__button {
  width: 240px;
  padding-left: 53px;
  padding-top: 17px;
  padding-bottom: 15px;

  font-weight: 400;
  letter-spacing: 0.2px;
}

.slider__check {
  position: absolute;

  display: none;
}

.slider__controls {
  position: absolute;
  bottom: 20.7%;
  left: 46.3%;
  z-index: 20;

  font-size: 0;
}

.slider__controls-button {
  position: relative;

  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin-right: 17px;

  background-color: #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider__controls-button:focus {
  outline: none;
}

.slide-1:checked ~ .slider__list .slider__item--principe-cash,
.slide-2:checked ~ .slider__list .slider__item--principe-math,
.slide-3:checked ~ .slider__list .slider__item--principe-night {
  display: block;
}

.slide-1:checked ~ .slider__controls .slider-page-1::before,
.slide-2:checked ~ .slider__controls .slider-page-2::before,
.slide-3:checked ~ .slider__controls .slider-page-3::before,
.slider-page-1:focus::before,
.slider-page-2:focus::before,
.slider-page-3:focus::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 8px;
  height: 8px;
  margin: 5px;

  background-color: transparent;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}



.services {
  margin-bottom: 74px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.services__item:not(:last-child) {
  padding-right: 100px;
}

.services__item:last-child {
  padding-right: 60px;
}

.services__item--web::before {
  content: "";

  display: block;
  width: 300px;
  height: 146px;

  background-color: #fb565a;
  background-image: url("../img/services-web.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__item--app::before {
  content: "";

  display: block;
  width: 300px;
  height: 146px;

  background-color: #00ca74;
  background-image: url("../img/services-app.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__item--presentation::before {
  content: "";

  display: block;
  width: 300px;
  height: 146px;

  background-color: #efc84a;
  background-image: url("../img/services-presentation.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__caption {
  margin: 0;
  margin-top: 25px;
  margin-left: -1px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services__description {
  max-width: 247px;
  margin-bottom: 0;
  padding-bottom: 32px;
}

.services__item--web .services__description {
  letter-spacing: -0.15px;
}

.services__item--app .services__description {
  letter-spacing: 0.2px;
  padding-left: 1px;
}

.services__button {
  width: 160px;
  padding: 0 40px;
  padding-top: 17px;
  padding-bottom: 15px;
  letter-spacing: -0.1px;
}

.services__item--app .services__button {
  background-color: #00ca74;
}

.services__item--app .services__button:hover,
.services__item--app .services__button:focus {
  background-color: #00bc6c;
}

.services__item--app .services__button:active {
  background-color: #00aa62;
}

.services__item--presentation .services__button {
  background-color: #efc84a;
}

.services__item--presentation .services__button:hover,
.services__item--presentation .services__button:focus {
  background-color: #eab534;
}

.services__item--presentation .services__button:active {
  background-color: #e5a722;
}



.about-us {
  position: relative;

  padding-bottom: 49px;

  border-bottom: 2px solid #eeeeee;
}

.about-us::before {
  content: "";

  position: absolute;
  top: -7.5%;
  right: 0;

  display: block;
  width: 360px;
  height: 225px;

  background-image: url("../img/about-us-logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.about-us__slogan {
  display: block;
  max-width: 660px;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0.1px;
  color: #000000;
}

.about-us__description {
  display: block;
  max-width: 660px;
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
}

.about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.our-job {
  max-width: 660px;
}

.our-job__caption,
.in-number__caption {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.06px;
  color: #000000;
}

.our-job__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.our-job__description {
  position: relative;

  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  padding-left: 36px;
}

.our-job__description::before {
  content: "";

  position: absolute;
  top: 23%;
  left: 0.3%;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.in-number {
  width: 365px;
}

.in-number__caption {
  padding-left: 21px;
  padding-bottom: 44px;
  letter-spacing: 0.05px;
}

.table {
  width: 100%;
  padding-left: 2px;
}

.table__stroke-percent {
  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.table__stroke-description {
  line-height: 18px;
}

.table__cell {
  display: inline-block;
  vertical-align: top;
  width: 119px;
  min-height: 35px;
  margin-bottom: 21px;

  text-align: start;
  letter-spacing: 0.05px;
}

.table__cell-number {
  display: inline-block;
  vertical-align: middle;
  margin-top: 11px;
}

.table__cell-percent {
  display: inline-block;
  vertical-align: sub;
  margin-left: -12px;

  font-weight: 700;
  font-size: 28px;
}



.partners {
  margin-bottom: 80px;
  padding-top: 46px;
  padding-bottom: 44px;

  border-bottom: 2px solid #eeeeee;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners__item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 298px;
  height: 100%;
}

.partners__item:last-child,
.partners__item:first-child {
width: 279px;
}

.partners__item:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 50%;
  right: -0.6%;

  width: 2px;
  height: 52px;
  margin-top: -27px;

  background-color: #eeeeee;
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  opacity: 0.2;
}

.partners__item:last-child .partners__link {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 5px;
  padding-right: 43px;
}

.partners__item:first-child .partners__link {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 31px;
}

.partners__link:hover,
.partners__link:focus{
  outline: none;
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}



.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 260px;
}

.form__fieldset,
.markers__result {
  position: relative;

  min-width: 44px;
  margin: 0;
  padding: 0;

  border: none;
}

.form__fieldset--price {
  padding-bottom: 60px;
}

.form__fieldset--features,
.form__fieldset--markup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  outline: none;
}

.form__fieldset--markup {
  padding-bottom: 50px;
}

.form__fieldset--features {
  padding-bottom: 48px;
}

.form__legend,
.markers__caption {
  padding-bottom: 19px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.form__fieldset:first-child .form__legend {
  padding-top: 7px;
  padding-bottom: 54px;

  letter-spacing: 0.7px;
}

.range {
  position: relative;

  height: 80px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #eeeeee;
  border-radius: 5px;
}

.range__scale {
  height: 2px;

  background: #d7dcde;
}

.range__select {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range__toggle {
  position: absolute;
  top: 38%;
  left: 0;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;

  cursor: pointer;
}

.toggle-min {
  left: 7%;
}

.toggle-max {
  left: 62%;
}

.form__price-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__item {
  width: 100%;
}

.form__fieldset--markup .form__item:not(:last-child) {
  margin-bottom: 15px;
}

.form__fieldset--features .form__item:not(:last-child) {
  margin-bottom: 17px;
}

.price-control__label {
  padding-right: 12px;

  line-height: 22px;
  text-transform: uppercase;
}

.form__label {
  position: relative;

  line-height: 20px;
  color: #283136;
}

.price-control__input {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 38px;

  line-height: 22px;
  text-align: center;

  background-color: #eeeeee;
  border: none;
  border-radius: 5px;
  outline: none;
}

.price-control__input:not(:last-of-type) {
  margin-right: 32px;
}

.form__input-markup,
.form__input-features {
  display: none;
  width: 30px;
  height: 30px;

  background-color: transparent;
  border: none;
  outline: none;
}

.form__input-markup + .form__label::before {
  content: "";

  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin-right: 12px;

  background-color: transparent;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.form__input-features + .form__label::before {
  content: "";

  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  margin-top: 1px;
  margin-right: 13px;

  border: 2px solid #000000;
  border-radius: 3px;
  opacity: 0.4;
}

.form__input-markup:checked + .form__label::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 9px;
  height: 9px;
  margin: 8px;
  margin-top: 6px;

  background-color: #4d4d4d;
  border-radius: 50%;
  outline: none;
  opacity: 0.4;
}

.form__input-features:checked + .form__label::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/form-checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  outline: none;
  opacity: 0.4;
}

.form__input-markup:hover + .form__item,
.form__input-markup:hover + .form__label::before,
.form__input-markup:hover + .form__label::after,
.form__input-features:hover + .form__label::before,
.form__input-features:hover + .form__label::after {
  outline: none;
  opacity: 1;
}

.form__input-markup:hover + .form__label,
.form__input-markup:focus .form__label {
  color: #000000;
}

.form__item:focus,
.form__item:focus .form__label::before,
.form__item:focus .form__label::after {
  outline: none;
  opacity: 1;
}

.form__input-markup:disabled + .form__label,
.form__input-features:disabled + .form__label {
  color: rgba(40, 49, 54, 0.3);
}

.form__input-markup:disabled + .form__label::before,
.form__input-markup:disabled + .form__label::after,
.form__input-features:disabled + .form__label::before,
.form__input-features:disabled + .form__label::after {
  opacity: 0.1;
}

.form__input-features:checked + .form__label::before {
  opacity: 0;
}

.form__button,
.pagination__next {
  color: #000000;

  background-color: #eeeeee;
}

.form__button {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 15px;
}

.form__button:hover,
.pagination__next:hover,
.form__button:focus,
.pagination__next:focus {
  background-color: #dfdfdf;
  outline: none;
}

.form__button:active,
.pagination__next:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #bfbfbf;
}



.markers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-bottom: 54px;
}

.markers__caption {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-right: 267px;
}

.markers__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.markers__list--sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.markers__list--result {
  position: relative;

  display: flex;
}

.markers__item {
  display: inline-block;
  vertical-align: middle;
}

.markers__button {
  max-width: 103px;
  padding: 0;
  padding-top: 5px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.markers__button:not(:last-of-type) {
  padding-right: 26px;
}

.markers__button:hover,
.markers__button:focus{
  outline: none;
  opacity: 0.6;
}

.markers__button:active,
.markers__button.link-active {
  border: none;
  opacity: 1;
}

.markers__result__button-up,
.markers__result__button-down {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 100%;

  background-color: transparent;
  border: none;
}

.markers__result__button-up::before {
  content: "";

  position: absolute;
  top: 30%;
  left: 15%;

  display: block;
  width: 0;
  height: 0;

  border: 6px solid transparent;
  border-top: 11px solid rgba(166, 166, 166, 0.2);
}

.markers__result__button-down::before {
  content: "";

  position: absolute;
  bottom: 30%;
  right: 0;

  display: block;
  width: 0;
  height: 0;

  border: 6px solid transparent;
  border-bottom: 10px solid rgba(166, 166, 166, 0.2);
}

.markers__result__button-up.link-active {
  border: none;
}

.markers__result__button-down:focus,
.markers__result__button-up:focus {
  outline: none;
}

.markers__result__button-up:hover::before,
.markers__result__button-up:focus::before{
  border-top: 10px solid #a6a6a6;
}

.markers__result__button-down:hover::before,
.markers__result__button-down:focus::before {
  border-bottom: 10px solid #a6a6a6;
}

.markers__result__button-up:active::before,
.markers__result__button-up.link-active::before {
  border-top: 10px solid #231f20;
  outline: none;
  opacity: 1;
}

.markers__result__button-down:active::before {
  border-bottom: 10px solid #231f20;
}



.catalog {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 760px;
  margin-bottom: 59px;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  position: relative;

  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;

  border: 1px solid #e5e5e5;
  border-radius: 5px 5px 0 0;
}

.catalog__item:not(:last-child),
.catalog__item:not(:nth-last-child(2)) {
  margin-bottom: 31px;
}

.catalog__item:last-child,
.catalog__item:nth-last-child(2) {
  margin-bottom: 59px;
}

.catalog__item::before {
  content: "";

  display: block;
  width: 360px;
  height: 40px;

  background-image: url("../img/catalog-browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.catalog__item:hover,
.catalog__item:focus {
  outline: none;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog__item:hover::before,
.catalog__item:focus::before{
  opacity: 1;
}

.catalog__image {
  display: block;
}

.catalog__preview {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 230px;
  padding: 0 60px;
  padding-top: 35px;
  padding-bottom: 44px;

  background-color: #eeeeee;
  outline: none;
}

.catalog__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.catalog__title:hover,
.catalog__title:focus {
  color: #fb565a;

  outline: none;
}

.catalog__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__description {
  display: inline-block;
  vertical-align: middle;
  max-width: 270px;
  margin: 0;
  padding: 0;

  line-height: 18px;
  text-align: center;
  color: #666666;
}

.catalog__description--sedona,
.catalog__description--barbershop,
.catalog__description--mishka {
  max-width: 200px;
}

.catalog__button-buy {
  min-width: 200px;
}

.catalog__item:hover .catalog__preview,
.catalog__item:focus .catalog__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.pagination .link-active {
  padding: 13px 17px;

  background-color: transparent;
  border: 3px solid #dbdbdb;
  box-shadow: none;
}

.pagination__page {
  max-width: 260px;
  margin-right: 11px;
  padding: 0 21px;
  padding-top: 17px;
  padding-bottom: 15px;

  font-weight: 500;
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
  border-radius: 5px;
}

.pagination__page:hover:not(.link-active),
.pagination__page:focus:not(.link-active){
  background-color: #dfdfdf;
  outline: none;
}

.pagination__page:active:not(.link-active){
  color: rgba(0, 0, 0, 0.3);

  background-color: #bfbfbf;
}

.pagination__next {
  max-width: 260px;
  padding: 0 77px;
  padding-top: 17px;
  padding-bottom: 16px;
}



.map {
  position: relative;

  min-height: 416px;

  background-color: #e9e5dc;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 49% 41.3%;
}

.map__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: block;
  width: 100%;
  min-height: 416px;

  border: none;
  outline: none;
}



.contacts {
  z-index: 15;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 319px;
  margin: 54px 0;
  padding: 49px 50px;
  padding-bottom: 47px;

  background-color: #ffffff;
}

.contacts__name {
  display: block;
  padding-bottom: 23px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.05px;
  color: #000000;
}

.contacts__address,
.contacts__tel {
  max-width: 210px;
  margin: 0;
  margin-left: -1px;
  padding: 0;
  padding-bottom: 18px;
  padding-left: 2px;

  line-height: 18px;
  letter-spacing: 0.04px;
  color: #666666;
}

.contacts__tel {
  padding-bottom: 37px;
}

.contacts__button {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 44px;
}



.page-footer {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}



.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 300px;
  margin: 0;
  padding: 0;
  padding-left: 19px;

  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__link {
  position: relative;

  display: block;
  width: 79px;
  height: 79px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social__link--vk::after {
  content: "";

  position: absolute;
  top: 40%;
  left: 35%;

  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 15px;

  background-image: url("../img/social-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--fb::after {
  content: "";

  position: absolute;
  top: 35%;
  left: 44%;

  display: inline-block;
  vertical-align: middle;
  width: 12px;
  height: 22px;

  background-image: url("../img/social-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__link--inst::after {
  content: "";

  position: absolute;
  top: 36.2%;
  left: 36.2%;

  display: inline-block;
  vertical-align: middle;
  width: 21px;
  height: 21px;

  background-image: url("../img/social-inst.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 695px;
  padding-left: 139px;
}

.social__slogan {
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 0.19px;
  color: #000000;
}

.social__description {
  margin: 0;
  margin-left: 1px;

  line-height: 22px;
  color: #444444;
}

.social__link:hover,
.social__link:focus {
  background-color: #e74246;
  outline: none;
}

.social__link:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social__link:active::after {
  opacity: 0.3;
}



@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;

  display: none;
  width: 960px;
  height: 590px;
  margin: auto;
  padding: 0 100px;
  padding-top: 67px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px 0px rgba(0, 1, 1, 0.75);
  box-shadow: 0 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.popup--show {
  display: block;

  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.popup--error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.popup__caption {
  margin: 0;
  margin-left: -2px;
  padding-bottom: 41px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  letter-spacing: 0.1px;
  color: #000000;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popup__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  padding-bottom: 34px;

  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.popup__label:last-of-type {
  padding-bottom: 46px;
}

.popup__label--textarea {
  width: 100%;
}

.popup__input {
  width: 360px;

  margin-top: 9px;
  padding: 14px 0;
  padding-left: 13px;

  line-height: 18px;
  color: #a1a1a1;

  border: 2px solid #d7dcde;
  border-radius: 5px;
  outline: none;
}

.popup__input--textarea {
  width: 100%;

  padding-top: 11px;
}

.popup__button {
  padding: 16px 82.5px;

  letter-spacing: 0.2px;
}

.popup__button-close {
  position: absolute;
  top: 10.6%;
  right: 7.5%;
  z-index: 2;

  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;

  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.popup__button-close::before {
  content: "";

  position: absolute;
  top: 45%;
  right: 20%;

  display: block;
  width: 25px;
  height: 4px;

  background-color: #fb565a;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup__button-close::after {
  content: "";

  position: absolute;
  top: 45%;
  right: 20%;

  display: block;
  width: 25px;
  height: 4px;

  background-color: #fb565a;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup__input:invalid,
.popup__input--error {
  color: #e74246;

  border-color: #e74246;
}

.popup__input:hover {
  border-color: #b4b9bb;
}

.popup__input:focus {
  color: #000000;

  border-color: #000000;
}

.popup__button-close:hover,
.popup__button-close:focus {
  outline: none;
  opacity: 1;
}

.popup__button-close:active {
  opacity: 0.1;
}
